body {
  font-family: 'Germania One', cursive;
color :palegoldenrod;
}
.wrapper{
 display:inline-block;
}
.center {
  text-align: center;
}

#picLeft {
  max-width: 22%;
  display:inline-block;
  max-height: 50px;

}

#picMiddle {
  max-width: 22%;
  display:inline-block;
  margin-left: 1.5%;

}


#picRight {
  max-width: 22%;
  display:inline-block;
  margin-left: 1.5%;
}

#picLeft,
#picMiddle,
#picRight {
  cursor: pointer;
}
.black {
  color: black;
}


#stats {
  text-align: left;
  color: #000;
  width: 25%;
}