
.wrapper{
 display:inline-block;
}
.center {
  text-align: center;
}

#picLeft {
  max-width: 22%;
  display:inline-block;

}

#picMiddle{
  max-width: 22%;
  display:inline-block;
  margin-left: 1.5%;

}


#picLast {
  max-width: 22%;
  display:inline-block;
  margin-left: 1.5%;


}

/* .left {
  float: left;
    
} */
/* .right {
  float: right;
} */
