
.wrapper{
  width: 100%;
  margin-bottom: 13%;
}
.center {
  text-align: center;
}

#picLeft {
  margin-left: 1%;
}

#picMiddle{
  margin-left: 1%;
}

#picRight {
  margin-left: 1%;
}

.left {
  float: left;
    width: 22%;
}

#picLast {
    margin-left: 1%;
}